.containerabout {
  display: flex;
  align-items: center;
}

.about__img {
  flex: 1;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 60px;
}

.about__img img {
  width: 100%;
  height: auto;
}

.about__content {
  flex: 1;
}

.about__header {
  margin-bottom: 20px;
  font-family: sans-serif;
}

.about__header h1 {
  font-size: 40px;
}

.about__header h1 span {
  color: #ff0000;
}

.text-justify {
  text-align: justify;
padding-left: 10px;;
  font-family: sans-serif;
  font-size: 1.1rem;
}
img {
  width:100%;
}